<div class="page page-center">
  <div class="container-tight py-4">
    <div class="text-center mb-4">
      <a href="" class="navbar-brand navbar-brand-autodark"><img src="/assets/Images/logo.png" height="45" alt=""></a>
    </div>
    <form [formGroup]="changePassword" (ngSubmit)="passwordChange()" class="card card-md" action="." method="post">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Reset password</h2>
        <div class="mb-3 position-relative">
          <div class="input-group input-group-flat">
            <input [type]="showPassword ? 'text' : 'password'" required class="form-control"
              formControlName="new_Password" placeholder="New Password" autocomplete="off">
            <span class="input-group-text">
              <a class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                <img [src]="!showPassword ? '/assets/Images/Icons/eye.svg' : '/assets/Images/Icons/eye-off.svg'"
                  class="icon" width="24" height="24" alt="" (click)="showPassword = !showPassword">
              </a>
            </span>
            <span class="input-group-text" (mouseenter)="isHidden = !isHidden" (mouseleave)="isHidden = !isHidden">
              <a class="link-secondary" placement="auto" data-placement="top" data-bs-toggle="tooltip">
                <img src="/assets/Images/Icons/info-circle.svg" class="icon" width="14" height="14" alt="">
              </a>
            </span>
          </div>
          <div class="boxShadow position-absolute" *ngIf="isHidden">
            <p class="fst-italic fw-lighter" style="margin: 0; padding:0">
              <small>* Minimum 8 characters.! <br></small>
              <small> * Minimum one upper case required.!<br></small>
              <small> * Minimum one lower case required.!<br></small>
              <small> * Minimum one spl char required.! <br></small>
              <small> * Minimum one digit required.!</small>
            </p>
          </div>
          <small class="form-text text-muted"
            *ngIf="changePassword.controls.new_Password.touched && changePassword.controls.new_Password.errors?.required">
            <p class="error">Please enter password.!</p>
          </small>
        </div>
        <div class="mb-3">
          <div class="input-group input-group-flat">
            <input type="password" formControlName="con_Password" required class="form-control"
              placeholder="Confirm Password" autocomplete="off">
          </div>
          <small class="form-text text-muted"
            *ngIf="changePassword.controls.con_Password.touched && changePassword.controls.con_Password.errors?.required">
            <p class="error">Please enter confirmPassword.!</p>
          </small>
          <small class="form-text text-muted"
            *ngIf="changePassword.controls.con_Password.touched && changePassword.controls.con_Password.errors?.mustMatch">
            <p class="error">Passwords must match</p>
          </small>
        </div>
        <div class="form-footer">
          <button [disabled]="!changePassword.valid" type="submit" mat-raised-button color="primary"
            class="w-100">Continue</button>
        </div>
      </div>
    </form>
    <div class="text-center text-muted mt-3">
      Forget it, <a href="">send me back</a> to the sign in screen.
    </div>
  </div>
</div>