<div class="page">
    <div class="page-wrapper">
      <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
          <div class="row g-2 align-items-center">
            <div class="col">
              <h2 class="m-0">
                Settings
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="container-xl">
          <div class="row gx-lg-5">
            <div class="d-none d-lg-block col-lg-3">
              <ul class="nav nav-pills nav-vertical">
                <li class="nav-item">
                  <a href="./docs/" class="nav-link">
                    Responses
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                   Presentation
                   </a>
                </li>
            </ul>
            </div>
            <div class="col-lg-9">
              <div class="card card-lg">
                <div class="card-body p-2">
                  <div class="markdown">
                    <div>
                      <div class="mb-3">
                        <h4 class="m-0">Responses</h4>
                        <span class="subHeading">Manage how responses are collected and protected</span>
                      </div>
                      <ul>
                        <li>
                            <label>
                                    Collect email addresses </label>
                                <label class="switch p-2" style="position:absolute; right:0">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label> 
                           
                        
                        </li>

                        <li>
                            <label>
                                    Collect email addresses </label>
                                <label class="switch p-2" style="position:absolute; right:0">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label> 
                           
                        
                        </li>

                        <li>
                            <label>
                                    Collect email addresses </label>
                                <label class="switch p-2" style="position:absolute; right:0">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label> 
                           
                        
                        </li>
                       
                      </ul>
                     
                     
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>