<div class="page-header mb-3">
    <div class="page-block">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="m-0">Manage panel list</h2>
            <button type="button" mat-raised-button color="primary" name="addnewsurvey" (click)="newPanel()">
                <mat-icon>add</mat-icon>
                Add new panel</button>
        </div>
    </div>
</div>
<!-- end page-title -->
<div class="page-body">
    <div class="card container">
        <div class="card-header justify-content-between">
            <h5 class="card-title">Panel list</h5>
            <div class="search">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text line-height-0">
                            <span
                                class="svg-icon"><!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Search.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <defs></defs>
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path
                                            d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                            fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                        <path
                                            d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                            fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                </svg><!--end::Svg Icon--></span> </span>
                    </div>
                    <input type="text" class="form-control" name="search" [(ngModel)]="searchText" autocomplete="off"
                        placeholder="Search..">
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

                    <!-- Title Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"> <a style="cursor: pointer;" class="text-primary"
                                (click)="editPanel(element)">{{element.title}}</a>
                        </td>
                    </ng-container>

                    <!-- Created On Column -->
                    <ng-container matColumnDef="created_on">
                        <th mat-header-cell *matHeaderCellDef> Created on</th>
                        <td mat-cell *matCellDef="let element"> {{element.created | date : "dd/MM/yyyy"}}
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action</th>
                        <td mat-cell *matCellDef="let item">
                            <div class="btn-group">
                                <div class="action-menu" *ngIf="item.status !== 2">
                                    <span class="dropdown" style="position: unset;">
                                        <button class="btn dropdown-toggle align-text-top" mat-button color="primary"
                                            data-bs-boundary="viewport" data-bs-toggle="dropdown">Action</button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item cursor-pointer" (click)="editPanel(item)">Edit</a>
                                            <a class="dropdown-item cursor-pointer" (click)="deletePanel(item)">Delete
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>

            <div *ngIf="panel_count == 0" class="text-center">No results found</div>
            <div class="d-flex align-items-center justify-content-between">
                <div>Total: {{panel_count}}</div>
            </div>
        </div>
    </div>
</div>
<!-- container-fluid -->