<div class="page page-center">
  <div class="container-tight py-4">
    <div class="text-center mb-4">
      <span class="navbar-brand navbar-brand-autodark"><img src="/assets/Images/logo.png" height="45" alt=""></span>
    </div>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="card card-md" action="." method="get">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Forgot password</h2>
        <p class="text-muted mb-4">Enter your email address and your password will be reset and emailed to you.</p>
        <div class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Email address</mat-label>
            <input type="email" formControlName="email" required matInput placeholder="Enter email">
          </mat-form-field>
        </div>
        <div class="form-footer">
          <button [disabled]="!passwordForm.valid" mat-raised-button color="primary" class="w-100">
            <mat-icon>mail_outline</mat-icon>
            Send me new password
          </button>
        </div>
      </div>
    </form>
    <div class="text-center text-muted mt-3">
      Forget it, <a href="">send me back</a> to the sign in screen.
    </div>
  </div>
</div>